/* MUSIC PLAYER HEADER */
.header{ 
    font-family: 'Press Start 2P', monospace;
    height: 2.5rem;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    position: fixed;
    margin-bottom: 1.25rem;  
    display: flex;
    background: linear-gradient(180deg,lightgray 0%, white 45%, gray 47%, pink 100%);
    border: ridge .125rem white; /* border around player */
    outline: solid .125rem black;  
    box-shadow: inset 10px 0px 6px -10px gray, inset -13px 0px 6px -10px gray, inset 0px 10px 6px -10px #ffffff, inset 0px -13px 6px -10px white;
    filter: drop-shadow(0 0.5px 0 gray) drop-shadow(0 0.5px 0 gray) drop-shadow(0 0.5px 0.5px gray) drop-shadow(0.5px 0.5px 1px gray) drop-shadow(-0.5px 0.5px 0 black) drop-shadow(0 0.5px 0 black) drop-shadow(0 0.5px 0 black); 
}
.music-controls {
    all: unset;
    margin-left: .25rem;
    margin-top: .125rem; 
    cursor: pointer;
}
.header-marquee {
    display: block;
    padding-top: 0.375rem;
    margin-left: 0.3125rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-right: 0.3125rem;
    font-size: 1.125rem;
    background: rgb(27, 27, 27);
    color: pink;
    font-weight: normal !important;
    border: gray inset 0.0625rem;
    border-radius: 0.375rem;
    filter: drop-shadow(0 0.5px 0 grey) drop-shadow(0 0.5px 0.5px grey) drop-shadow(0.5px 0.5px 1px grey) drop-shadow(-0.5px 0.5px 0 white) drop-shadow(0 0.5px 0 white); 
}
.home-button {
    all: unset;
    cursor: pointer;
}
.home-button img {
   padding-left: 0.125rem;
    margin-top: -0.125rem;
    width: 2.8125rem;
    height: 2.8125rem;
}
.prev-next {
    height: 1.375rem;
}
#song-title {
    width: 18.75rem;
}
#playlist-select {
    font-family: 'Press Start 2P', monospace;
    padding-top: 0.125rem;
    width: 12.5rem;
}
#time-together-marquee {
    width: 31.25rem;
    margin-left: auto;
}
.header-padding {
    height: 2.5rem;
}


/* PINK METALLIC THEME */
.pink-metallic {
    transition: margin 0.1s ease, box-shadow 0.1s ease, filter 0.2s ease;
    font-family: 'Press Start 2P', monospace;
    padding: 11px 33px;
    background: linear-gradient(180deg, grey 0%, white 45%, grey 47%, white 60%, pink 100%);
    box-shadow: 6px 6px 0 rgb(27, 27, 27);
    transform: skewX(-15deg);
    border-width: 1vh;
    border-color: rgb(199, 199, 199);
    border-radius: 14% 6% 14% 6%;
    filter: drop-shadow(0 0.5px 0 gray) drop-shadow(0 0.5px 0 gray) drop-shadow(0 0.5px 0.5px gray) drop-shadow(0.5px 0.5px 2px grey) drop-shadow(-0.5px 0.5px 0 black) drop-shadow(0 0.5px 0 black) drop-shadow(0 0.5px 0 black);
}
.inner-text {
    font-size: 12px;
    font-family: 'Press Start 2P', monospace;
    color: rgb(27, 27, 27);
    background: white;
    line-height: 2.5vh;
    box-shadow: inset 4px 4px 10px grey; 
    border-radius: 14% 6% 14% 6%;
    filter: drop-shadow(0 0.5px 0 pink) drop-shadow(0 0.5px 0.5px pink) drop-shadow(0.5px 0.5px 2px pink) drop-shadow(-0.5px 0.5px 0 white) drop-shadow(0 0.5px 0 white);
}
.date {
    z-index: 999;
    color: pink;
    font-size: 10pt;
    filter: drop-shadow(0 1px 0 grey) drop-shadow(0 1px 1px grey) drop-shadow(0.5px 0.5px 1px transparent) drop-shadow(-0.5px 0.5px 0 transparent) drop-shadow(0 0.5px 0 transparent);

}

/* TOGGLE BUTTONS */
.toggle-button {
    width: 40px;
    height: 30px;
    margin-right: -4px;
    transform: skewX(-15deg);
    border-width: 5px;
    background: linear-gradient(180deg, grey 0%, white 45%, grey 47%, white 60%, grey 100%);
    border-color: rgb(199, 199, 199);
    font-size: 16px;
    cursor: pointer;
    filter: drop-shadow(0 0.5px 0 gray) drop-shadow(0 0.5px 0.5px gray) drop-shadow(0.5px 0.5px 1px gray) drop-shadow(-0.5px 0.5px 0 black) drop-shadow(0 0.5px 0 black);
}
.toggle-button:disabled {
    cursor: default;
    border-color: white;
    background: linear-gradient(180deg, grey 0%, white 40%, grey 42%, white 55%, grey 100%);
}
.right {
    border-radius: 0 100px 100px 0;
}
.left {
    border-radius: 100px 0 0 100px;
}
.page-select-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
} 
.grid-prev-button {
    transform: translateX(-400px) skewX(-15deg);
    transition: margin 0.1s ease, box-shadow 0.1s ease, filter 0.2s ease;
}
.grid-next-button {
    transform: translateX(400px) skewX(-15deg);
    transition: margin 0.1s ease, box-shadow 0.1s ease, filter 0.2s ease;
}
.big-prev-button {
    transform: translateY(-300px) translateX(-600px) skewX(-15deg);
    transition: margin 0.1s ease, box-shadow 0.1s ease, filter 0.2s ease;
}
.big-next-button {
    transform: translateY(-300px) translateX(600px) skewX(-15deg);
    transition: margin 0.1s ease, box-shadow 0.1s ease, filter 0.2s ease;
}

.grid-prev-button:hover,
.grid-next-button:hover,
.big-prev-button:hover,
.big-next-button:hover {
    transform: translate(1px, 1px, -15deg);
    filter: drop-shadow(0 1.5px 0 rgb(255, 216, 222)) drop-shadow(0 1.5px 0 rgb(255, 216, 222)) drop-shadow(0 1.5px 0.5px rgb(255, 216, 222)) drop-shadow(1.5px 1.5px 1px rgb(255, 216, 222)) drop-shadow(-1.5px 1.5px 0 white) drop-shadow(0 1.5px 0 white) drop-shadow(0 1.5px 0 white);
    cursor: pointer;
}

.grid-prev-button:disabled,
.grid-next-button:disabled,
.big-prev-button:disabled,
.big-next-button:disabled {
    opacity: 0;
    cursor: default;
}


/* HOME */
.circle-container {
    position: relative;
    width: 850px;
    height: 800px;
    margin: 50px auto;
    margin-top: 50px;
    border-radius: 50%;
    background: linear-gradient(180deg, grey 0%, white 45%, grey 47%, white 60%, pink 100%);
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}
.circle-container button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0 0;
    display: flex;
    font-size: 25px;
    color: black;
}
.circle-container button:hover {
    box-shadow: 4px 4px 0 black;
    transform: translate(1px, 1px, -15deg);
    cursor: pointer;
    filter: drop-shadow(0 1.5px 0 rgb(255, 216, 222)) drop-shadow(0 1.5px 0 rgb(255, 216, 222)) drop-shadow(0 1.5px 0.5px rgb(255, 216, 222)) drop-shadow(1.5px 1.5px 1px rgb(255, 216, 222)) drop-shadow(-.1px .1px 0 white) drop-shadow(0 .1px 0 white) drop-shadow(0 .1px 0 white);
}
.circle-containter button:active {
    box-shadow: none;
    margin-left: 1px;
    margin-top: 1px;
}

.circle-container .btn1 { 
    transform: rotate(0deg) translateX(-370px) translateY(-350px) skewX(-15deg);
}
.circle-container .btn2 {
    transform: rotate(0deg) translateX(-480px) translateY(-250px) skewX(-15deg);
}
.circle-container .btn3 {
    transform: rotate(0deg) translateX(-530px) translateY(-150px) skewX(-15deg);
}
.circle-container .btn4 {
    transform: rotate(0deg) translateX(-510px) translateY(-50px) skewX(-15deg);
}
.circle-container .btn5 {
    transform: rotate(0deg) translateX(-480px) translateY(50px) skewX(-15deg);
}

/* GALLERY */
.gallery-settings-container {
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 1100px;
}
.gallery-container-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
    gap: 30px;
}
.gallery-container-big {
    display: flex;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
}
.gallery-frame-small {
    position: relative;
    display: flex;
}
.gallery-frame-small:hover {
    /* box-shadow: 4px 4px 0 black; */
    transform: translate(1px, 1px, -15deg);
    filter: drop-shadow(0 1.5px 0 rgb(255, 216, 222)) drop-shadow(0 1.5px 0 rgb(255, 216, 222)) drop-shadow(0 1.5px 0.5px rgb(255, 216, 222)) drop-shadow(1.5px 1.5px 1px rgb(255, 216, 222)) drop-shadow(-1.5px 1.5px 0 white) drop-shadow(0 1.5px 0 white) drop-shadow(0 1.5px 0 white);
    cursor: pointer;
}
.gallery-frame-small .gallery-image {
    margin-left: 0px;
    margin-bottom: 5px;
    height: 220px;
    border-radius: 14% 6% 14% 6%;
    filter: drop-shadow(0 0.5px 0 pink) drop-shadow(0 0.5px 0.5px pink) drop-shadow(0.5px 0.5px 2px pink) drop-shadow(-0.5px 0.5px 0 white) drop-shadow(0 0.5px 0 white);
}

.gallery-frame-big {
    position: relative;
    display: flex;
    flex-direction: flex column;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    height: 500px;
    max-width: calc(100% - 80px);
}
.gallery-frame-big .gallery-image {
    max-width: 80%;
    margin-bottom: 5px;
    border-radius: 14% 6% 14% 6%;
    filter: drop-shadow(0 0.5px 0 pink) drop-shadow(0 0.5px 0.5px pink) drop-shadow(0.5px 0.5px 2px pink) drop-shadow(-0.5px 0.5px 0 white) drop-shadow(0 0.5px 0 white);
}
.gallery-frame-big .gallery-description {
    position: relative;
    margin-bottom: 5px;
    margin-left: 25px;
    height: 350px;
    width: 200px;
    padding: 50px 30px 5px 30px;
}
.gallery-description .date {
    position: absolute;
    bottom: 20px;
}


/* MUSIC */
.music-container {
    font-family: 'Press Start 2P', monospace;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 70px;
}
.music-frame-left {
    position: relative;
    left: -15%;
    height: 200px;
    width: 700px;
    margin-bottom: 70px;
    margin-right: 500px;
    display: flex;
}
.music-frame-right {
    position: relative;
    left: 25%;
    height: 200px;
    width: 700px;
    margin-bottom: 70px;
    margin-right: 500px;
    display: flex;
}
.inner-right {
    position: relative;
    margin-left: 25px;
    width: 400px;
    padding: 15px 33px;
}
.cover-art-left {
    margin-left: 0px;
    /* margin-bottom: 5px; */
    width: 225px;
    height: 200px;
    font-size: 12px;
    font-family: 'Press Start 2P', monospace;
    border-radius: 14% 6% 14% 6%;
    filter: drop-shadow(0 0.5px 0 pink) drop-shadow(0 0.5px 0.5px pink) drop-shadow(0.5px 0.5px 2px pink) drop-shadow(-0.5px 0.5px 0 white) drop-shadow(0 0.5px 0 white);
}
.inner-left {
    position: relative;
    margin-left: 0px;
    /* margin-bottom: 5px; */
    width: 400px;
    padding: 15px 33px;
}
.cover-art-right {
    margin-left: 25px;
    /* margin-bottom: 5px; */
    width: 225px;
    height: 200px;
    font-size: 12px;
    font-family: 'Press Start 2P', monospace;
    border-radius: 14% 6% 14% 6%;
    filter: drop-shadow(0 0.5px 0 pink) drop-shadow(0 0.5px 0.5px pink) drop-shadow(0.5px 0.5px 2px pink) drop-shadow(-0.5px 0.5px 0 white) drop-shadow(0 0.5px 0 white);
}

.music-frame-left .date,
.music-frame-right .date {
    position: absolute;
    bottom: 5px;
    left: 33px;
}

/* BLOG */
.blog-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    font-family: 'Press Start 2P', monospace;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
}
.blog-page-select-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
} 
.blog-frame {
    position: relative;
    width: 440px;
    height: 550px;
}
.blog-text {
    padding: 50px 30px 50px 30px;
    height: 450px;
    width: 380px; 
    overflow-y: auto;
    scrollbar-width: none;      
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    contain: strict;
}
.blog-text::-webkit-scrollbar {
    display: none;              
}
.blog-text .title {
    font-size: 12pt;
}
.blog-frame .date {
    position: absolute;
    transform: translateX(30px) translateY(510px);
}

/* OUTFITS */
.outfits-container {
    margin-left: -40px;
    margin-top: 0px;
}
#outfits-platform {
    position: absolute;
    z-index: 0;
    height: 80px;
    width: 450px;
    margin: 400px 50px 0px 195px;
    filter: drop-shadow(0 2.5px 0 rgb(255, 216, 222)) drop-shadow(0 1.5px 0 rgb(255, 216, 222)) drop-shadow(0 1.5px 0.5px rgb(255, 216, 222)) drop-shadow(1.5px 1.5px 1px rgb(255, 216, 222)) drop-shadow(-1.5px 2.5px 0 white) drop-shadow(0 1.5px 0 white) drop-shadow(0 1.5px 0 white);
}
.outfits-frame {
    position: relative;
    width: 330px;
    height: 450px;
    margin: -220px 0px 0px 800px;
}
.outfits-text {
    position: relative;
    height: 418px;
    padding: 30px 30px 0 30px;
}
.outfits-text .date {
    position: absolute;
    bottom: 8px;
    left: 30px;
}
.character {
    position: absolute;
    all: unset;
    z-index: 999;
    height: 300px;
    transform: translateX(260px) translateY(150px) skewX(0deg);
}

/* SCROLLER */
::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}
::-webkit-scrollbar-button {
    border: outset 2px gray;
    border-radius: 3px;
    box-shadow: inset 1px 1px 0 0 white, inset -1px -1px 0 0 gray;
    display: block;
    width: 16px;
    height: 16px;
    background: lightgray;
    image-rendering: pixelated;
}
::-webkit-scrollbar-corner {
    background-color: lightgray;
}
::-webkit-scrollbar-thumb {
    border: outset 2px gray;
    border-radius: 3px;
    box-shadow: inset 1px 1px 0 0 white, inset -1px -1px 0 0 #868a8e;
    width: 16px;
    height: 16px;
    background: linear-gradient(90deg, gray 0%, white 45%, gray 47%, gray 60%, lightgray 100%);
    z-index: 1;
}
::-webkit-scrollbar-track {
    background: linear-gradient(90deg, gray 0%, lightgray 45%, gray 47%, black 100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: invert(10%);
    border: outset 2px lightgray;
    border-radius: 2px;
}
